pandas==2.2.3
numpy==2.1.2
matplotlib==3.9.2
tk
torch --index-url https://download.pytorch.org/whl/nightly/cpu
torchvision --index-url https://download.pytorch.org/whl/nightly/cpu
torchaudio --index-url https://download.pytorch.org/whl/nightly/cpu
